<div class="container my-4">
  
  <div class="container text-center">
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  <a [routerLink]="['/create-character']" class="btn btn-success mb-3">
    Create New Character
  </a>
  </div>

  <h2>Seach a character</h2>
  <input
    type="text"
    [(ngModel)]="searchTermName"
    (input)="searchByName()"
    class="form-control"
    placeholder="Search by name (ex: John, Alice)"
  />

  <input
    type="text"
    [(ngModel)]="searchTermClass"
    (input)="searchByClass()"
    class="form-control"
    placeholder="Search by class (ex: Wizard, Paladin)"
  />

  <div *ngIf="characters.length === 0">
    <p>Aucun personnage trouvé.</p>
  </div>

  <br /><br />
  <h2>Characters list</h2>
  <div *ngFor="let c of characters" class="card mb-2">
    <div class="card-body">
      <h5 class="card-title mb-2">{{ c.name }} ({{ c.race }} {{ c.class }})</h5>
      <p class="card-text">
        STR: {{ c.strength }} | DEX: {{ c.dexterity }} | INT:
        {{ c.intelligence }} | CON: {{ c.constitution }} | WIS: {{ c.wisdom }} |
        CHA: {{ c.charisma }}
      </p>
      <div class="d-flex gap-2">
        <a [routerLink]="['/edit-character', c.id]" class="btn btn-sm btn-primary">
          Edit 
        </a>
        <button (click)="onDeleteCharacter(c)" class="btn btn-sm btn-danger">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
